.w-full{
    width: 100%;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.image{
    width: 110px;
    height: auto;
}

.bg{
  background-color: #f44322;
 color: white;
}

@media (max-width: 939px) { /* Less than 940px */
    .resFlex-column {
        flex-direction: column;
    }
    .w-50{
        width: 100%;
    }
}